@keyframes fadeIn {
  from { 
    opacity: 0; 
    transform: translateY(10px); 
  }
  to { 
    opacity: 1; 
    transform: translateY(0); 
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

body {
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;

}

header {
  margin-bottom: 50px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

button {
  background-color: white;
  border: 1px lightslategray solid;
  font-size: 13px;
  margin: 10px;
  border-radius: 3px;
  padding: 3px 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.product-form {
  display: flex;
  justify-content: center;
  align-items: baseline;
  
}



table, th, td {
  border: 1px solid;
  
}

th {
  padding: 4px 10px 4px 4px;
}

td {
  padding-left: 10px;
  padding-right: 10px;
  
  
}

.forms {
  display: flex;
  justify-content: center;

  margin-top: 50px;
  margin-bottom: 10px;
  
}

input {
  border: 1px solid;
  border-color: lightslategray;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  
}

.diagnostic-table {
  display: flex;
  justify-content: center;
  align-items: baseline;
  
  margin-top: 50px;
}

.question-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.diagnostic-form form {
  display: grid;
  grid-template-columns: 150px 1fr; /* label | input */
  gap: 0.5rem 1rem; /* row gap | column gap */
  align-items: left;
  justify-content: center;
  max-width: 600px;
}

.diagnostic-form input,
.diagnostic-form select {
  margin: 4px 10px; /* top & bottom */
}

div.last-part {
  grid-column: span 2;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  
  
}